<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Hotel_Team5_TFA102</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<servlet>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>web.employee.controller.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/employee/employee.do</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>DBGifReader</servlet-name>
		<servlet-class>web.oneday.controller.DBGifReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReader</servlet-name>
		<url-pattern>/DBGifReader</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>NEARBYReader</servlet-name>
		<servlet-class>web.nearby.controller.NEARBYReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NEARBYReader</servlet-name>
		<url-pattern>/NEARBYReader</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NearbyupdateServlet</servlet-name>
		<servlet-class>web.nearby.controller.NearbyupdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NearbyupdateServlet</servlet-name>
		<url-pattern>/NearbyupdateServlet</url-pattern>
	</servlet-mapping>

</web-app>